*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.header{
    background-color: black;
    width: 100vw;
    height: 10vh;
    z-index: 999;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 9px;  

}
.video-participant {
    max-width:( 12% -16px);
    position: relative; 
   
}

.video-participant img{
    width: 100%;
    height: auto;
    
   
}
span{
    position:absolute;
    right: 5px;
    bottom: 5px;
    color: white;
    background-color: rgba(150, 145, 145, 0.5);
    padding:2px 5px;
     

}
span{
    position: relative;
}

/*Footer*/
.containerFooter{
    width: 100%;
    height: 100px;
    background-color: rgb(199, 14, 14);
    display: flex;    
   
}

.icone-right{
    display: flex;
    text-align: center;
}

.fas{
    display: block;
}


